body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 41, 41);
}
canvas{
    box-shadow: black 20px 10px 50px;
}